:root {
  --background: white;
  --backdrop: #f5f5f7;
  --text-color: black;
  --red: #ff97a3;
  --blue: #9ad9ff;
  --green: #19a786;

  --header-height: 70px;

  --color-transition-duration: 0.4s;
}

.dark {
  --background: black;
  --backdrop: #202124;
  --text-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
